@keyframes ldio-z6n0e4kpbrt {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.ldio-z6n0e4kpbrt div {
    left: 88px;
    top: 42px;
    position: absolute;
    animation: ldio-z6n0e4kpbrt linear 1.0869565217391304s infinite;
    background: #ffffff;
    width: 24px;
    height: 24px;
    border-radius: 12px / 12px;
    transform-origin: 12px 58px;
}

.ldio-z6n0e4kpbrt div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.0033444816053512s;
    background: #ffffff;
}

.ldio-z6n0e4kpbrt div:nth-child(2) {
    transform: rotate(27.692307692307693deg);
    animation-delay: -0.9197324414715718s;
    background: #ffffff;
}

.ldio-z6n0e4kpbrt div:nth-child(3) {
    transform: rotate(55.38461538461539deg);
    animation-delay: -0.8361204013377925s;
    background: #ffffff;
}

.ldio-z6n0e4kpbrt div:nth-child(4) {
    transform: rotate(83.07692307692308deg);
    animation-delay: -0.7525083612040133s;
    background: #ffffff;
}

.ldio-z6n0e4kpbrt div:nth-child(5) {
    transform: rotate(110.76923076923077deg);
    animation-delay: -0.6688963210702341s;
    background: #ffffff;
}

.ldio-z6n0e4kpbrt div:nth-child(6) {
    transform: rotate(138.46153846153845deg);
    animation-delay: -0.5852842809364548s;
    background: #ffffff;
}

.ldio-z6n0e4kpbrt div:nth-child(7) {
    transform: rotate(166.15384615384616deg);
    animation-delay: -0.5016722408026756s;
    background: #ffffff;
}

.ldio-z6n0e4kpbrt div:nth-child(8) {
    transform: rotate(193.84615384615384deg);
    animation-delay: -0.41806020066889626s;
    background: #ffffff;
}

.ldio-z6n0e4kpbrt div:nth-child(9) {
    transform: rotate(221.53846153846155deg);
    animation-delay: -0.33444816053511706s;
    background: #ffffff;
}

.ldio-z6n0e4kpbrt div:nth-child(10) {
    transform: rotate(249.23076923076923deg);
    animation-delay: -0.2508361204013378s;
    background: #ffffff;
}

.ldio-z6n0e4kpbrt div:nth-child(11) {
    transform: rotate(276.9230769230769deg);
    animation-delay: -0.16722408026755853s;
    background: #ffffff;
}

.ldio-z6n0e4kpbrt div:nth-child(12) {
    transform: rotate(304.61538461538464deg);
    animation-delay: -0.08361204013377926s;
    background: #ffffff;
}

.ldio-z6n0e4kpbrt div:nth-child(13) {
    transform: rotate(332.3076923076923deg);
    animation-delay: 0s;
    background: #ffffff;
}

.loadingio-spinner-spinner-o6e43aexvb {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #000000;
}

.ldio-z6n0e4kpbrt {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-z6n0e4kpbrt div {
    box-sizing: content-box;
}

#loading.loading-none {
    opacity: 0;
    z-index: -1;
}

#loading {
    position: fixed;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: 0.5s;

    .loadingio-spinner-spinner-o6e43aexvb {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        background: #000000;
    }

    .ldio-z6n0e4kpbrt {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0;
    }
}